#artist-info {
    width: 80% !important;
}

#div-design {
    height: 5px;
    background: linear-gradient(to right, #c6e2ff, #ffe9a3);
    border: 0;
}

#radar, #scatter {
    height: 18em;
    width: 100%;
    margin: 0;
}