.vertical-timeline::before {
    background: black;
}

@media only screen and (min-width:1170px) {
    .vertical-timeline-element-content .vertical-timeline-element-date {
        position: absolute;
        width: 100%;
        left: 145%;
        top: 1.5em;
        font-size: 16px;
        font-size: 1rem
    }
    .vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content .vertical-timeline-element-date, .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content .vertical-timeline-element-date {
        left: auto;
        right: 145%;
        text-align: right
    }
    .vertical-timeline-element-icon {
        width: 60px;
        height: 60px;
        left: 48%;
        margin-left: -30px;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden
    }
    .vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content::before, .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content::before {
        border-right-color: #eff1f4;
    }
    .vertical-timeline-element-content::before {
        border-left-color: #eff1f4;
    }
}

@media only screen and (max-width:1170px) {
    .vertical-timeline-element-content {
        margin-left: 8em;
    }
    .vertical-timeline-element-content::before {
        border-right: 7px solid #eff1f4;
    }
}

.vertical-timeline-element-content {
    background: #eff1f4 !important;
}

.vertical-timeline-element-icon {
    width: 100px;
    height: 100px;
    border-radius: 0;
}

h3 {
    color: black !important;
}